<div class="public-wrapper">
  <mat-toolbar color="primary" class="public-navbar">
    <div class="brand">
      <img src="assets/logo-univ.png" alt="Logo" class="logo">
      <span>Univerzitet Singidunum</span>
    </div>

    <span class="spacer"></span>

    <nav class="nav-links">
      <a mat-button routerLink="/univerzitet">O Univerzitetu</a>
      <a mat-button routerLink="/fakulteti">Fakulteti</a>
      <a mat-button routerLink="/studije">Studijski programi</a>
    </nav>

    <span class="spacer"></span>

    <div class="auth-buttons">
      <a mat-button routerLink="/login">Prijava</a>
      <a mat-button routerLink="/register">Registracija</a>
    </div>
  </mat-toolbar>

  <div class="content-container">
    <router-outlet></router-outlet> 
    </div>

  <footer class="public-footer">
    <p>&copy; 2026 Univerzitet Singidunum</p>
  </footer>
</div>