<div class="public-wrapper">
  <mat-toolbar color="primary" class="public-navbar">
    <div class="brand">
      <img src="assets/logo-univ.png" alt="Logo" class="logo">
      <span>Univerzitet Singidunum</span>
    </div>

    <span class="spacer"></span>

    <div class="auth-buttons">
      <a mat-button routerLink="/login">Prijava</a>
      <a mat-button routerLink="/register">Registracija</a>
    </div>
  </mat-toolbar>

  <div class="content-container">
    <div class="welcome-container" *ngIf="router.url === '/'">
      <div class="hero-content">
        <h1>Dobrodošli na Informacioni portal univerziteta</h1>
        <p>Izaberite neku od opcija iz navigacije kako biste saznali više o našim programima, fakultetima i istorijatu.</p>
    
        <div class="features">
          <div class="feature-item" routerLink="/univerzitet">
            <h3>O Univerzitetu</h3>
            <p>Saznajte sve o našem rektoratu, istoriji i lokaciji.</p>
          </div>
          <div class="feature-item" routerLink="/fakulteti">
            <h3>Fakulteti</h3>
            <p>Pregledajte listu svih fakulteta u sastavu univerziteta.</p>
          </div>
          <div class="feature-item" routerLink="/studije">
            <h3>Studijski programi</h3>
            <p>Pregledajte listu svih studijskih programa u sastavu univerziteta.</p>
          </div>
        </div>
      </div>
    </div>  
    <router-outlet></router-outlet> 
    </div>

  <footer class="public-footer">
    <p>&copy; 2026 Univerzitet Singidunum</p>
  </footer>
</div>